
/*=============================================
=            Global Styles                  =
=============================================*/

*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul {
    list-style: none;
}

a:hover {
    text-decoration: none;
}

p {
    margin: 0;
    color: #7f7f7f;
}

/*=====  End of Global Styles  ======*/


/*=============================================
=            Helper classes            =
=============================================*/
.title-option {
    margin: 15px 0;
}

.title-option h2 {
    font-size: 1.9em;
}

.btn {
    background: #fff;
    border: none;
    color: #7f7f7f;
    border: 1px solid #7f7f7f;
    outline: none;
    transition: all .6s 0s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    width: 25%;
    margin: 10px;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.box {
    background: #fff;
    border-radius: 10px;
    display: flex;
    margin-top: 15px;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
    padding: 0px 20px;
    -webkit-box-shadow: 0px 1px 6px rgba(8, 9, 24, 0.2);
    -moz-box-shadow: 0px 1px 6px rgba(8, 9, 24, 0.2);
    box-shadow: 0px 1px 6px rgba(8, 9, 24, 0.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.btn:hover {
    color: #1a8ec3;
}

.btn-big {
    height: 100%;
    width: 100%;
}

.center-text {
    text-align: center;
}

.main-content {
    background: #f5f6f8;
    padding: 0;
    overflow: hidden;
}


.margin-format {
    margin: 25px 0;
}

.center-content {
    margin: 0;
    justify-content: space-between;
}
/*=====  End of Helper classes  ======*/


/*=============================================
=            Aside Menu            =
=============================================*/

.aside-menu {
    z-index: 2;
    background: #2c3439;
    height: 100%;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    -webkit-box-shadow: 2px 0px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 2px 0px 10px rgba(0,0,0,.2);
    box-shadow: 2px 0px 10px rgba(0,0,0,.2);
}

.img-aside-menu {
    background: #fff;
    display: none;
    height: 100px;
    width: 100%;
    object-fit: cover;
}

.menu {
    height: 100%;
}

.menu ul li{
    display: flex;
    width: 100%; 
    height: auto;
    transition: all .6s 0s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.menu ul li a {
    padding: 10px 15px;
    color: #fff;
    opacity: 0.6;
    height: 100%;
    width: 150px;
    margin: 0 auto;
    text-align: center;
}

.menu ul li a i {
    font-size: 1.1em;
    color: #5d6f7a;
    margin-right: 10px;
}

.menu ul li:hover, .menu ul li.active {
    background: #1f282d;
}

.menu ul li:hover a, .menu ul li:hover a i,
.menu ul li.active a, .menu ul li.active a i {
    color: #2fa4e9;
}

/*=====  End of Aside menu  ======*/


/*=============================================
=            Dashboard styles            =
=============================================*/

.head-section {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    background: #fff;
    margin: 0;
    border-bottom: 1px solid rgba(0,0,0,.2);
}

.workers-fixed {
    height: 92px;
}

.title-small, 
.text-headline {
    color: #7f7f7f;
}

.title-small {
    font-size: 1.1em;
}

.text-headline {
    font-size: 1.9em;
    font-weight: 700;
}

.social-data {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    color: #7f7f7f;
}

.social-item {
    transition: all .6s 0s cubic-bezier(0.25, 0.46, 0.45, 0.94);  
}
.social-data .social-item:hover{
    color: #a5a5a5;
}

.social-data p {
    margin: 0;
}

/*----------  Responsive  ----------*/

@media (min-width: 575px) {
    .aside-menu {
        overflow-y: auto;
        height: 100%;
        position: fixed;
        flex: 0 0 24%;
        max-width: 24%;
    }
    .img-aside-menu {
        display: initial;
    }

    .main-content {
        height: calc(100vh);
        overflow-y: auto;
        flex: 0 0 76%;
        max-width: 76%;
        margin-left: 24%;
    }

    .main-content .container.margin-format{
        max-width: 100%;
    }

    .menu ul li a {
        padding: 15px 15px;
        text-align: left;
    }
}

@media (min-width: 768px) {
    .aside-menu {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .main-content {
        flex: 0 0 80%;
        max-width: 80%;
        margin-left: 20%;
    }
    .main-content .container.margin-format{
        max-width: 100%;
    }
}

@media (min-width: 900px) {
    .aside-menu {
        flex: 0 0 15%;
        max-width: 15%;
    }

    .main-content {
        flex: 0 0 85%;
        max-width: 85%;
        margin-left: 15%;
    }
    .main-content .container.margin-format{
        max-width: 100%;
    }

    .head-section .btn {
        width: 200px;
    }
}
@media (min-width: 1140px) {
    .aside-menu {
        flex: 0 0 12%;
        max-width: 12%;
    }

    .main-content {
        flex: 0 0 88%;
        max-width: 88%;
        margin-left: 12%;
    }
    .main-content .container.margin-format{
        max-width: 100%;
    }
}



/*=====  End of Dashboard styles  ======*/


/*=============================================
=            Opcion 2 styles            =
=============================================*/
.container-items-head {
    background: #fff;
    margin: 0;
    padding: 15px 10px; 
    border-bottom: 1px solid rgba(0,0,0,.2);
    display: flex;
    flex-flow: column nowrap;
}

.item-head {
    padding: 5px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: all .6s 0s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.item-head .btn{
    margin: 0 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.box-1 {
    flex-flow: column nowrap;
    align-items: center;
    padding: 10px 0;
    text-align: center;
}

.box-1 img {
    width: 40px;
    padding-bottom: 10px; 
    height: auto;
}

.btn-vertical .btn{
    width: 155px;
}

.btn-horizontal .btn{
    width: 100px;
}

.btn-alone .btn {
    width: 320px;
}

@media (min-width: 500px) { 
    .item-head .btn {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .container-items-head {
        flex-flow: row nowrap;
        padding: 10px 15px;
    }

    .item-head .btn{
        margin: 2.5px;
        padding: 5px;
        font-size: 12px;
    }

    .item-head {
        padding: 2.5px;
        flex-flow: column nowrap;
    }


    .item-head.box-1 {
        width: 10%;
        padding: 5px 0;
    }
    .item-head.box-1 img {
        width: 30px;
    }
    .item-head.box-1 p {
        font-size: 12px;
    }


    .item-head.box-2 {
        width: 15%;
    }

    .item-head.box-2 .btn{
        width: 100%;
    }


    .item-head.box-3 {
        flex-flow: row nowrap;
        width: 45%;
    }

    .item-head.box-3 .btn{
        width: 100%;
    }


    .item-head.box-4 {
        width: 20%;
    }
    .item-head.box-4 .btn {
        width: 100%;
    }


    .item-head.box-5 {
        flex-flow: row nowrap;
        width: 10%;
    }

    .item-head.box-5 .btn {
        width: 100%;
    }
}

@media (min-width: 900px) {
    .item-head.box-1 {
        width: 7%;
    }

    .item-head.btn-vertical {
        align-items: center;
    }
    .item-head.btn-vertical .btn {
        align-items: center;
        width: 99%;
    }

    .item-head.box-1 p {
        font-size: 14px;
    }

    .item-head.box-3 {
        width: 48%;
    }
    .item-head .btn{
        margin: 5px;
        padding: 5px;
        font-size: 14px;
    }

    .item-head {
        padding: 2.5px;
        flex-flow: column nowrap;
    }
}

/*----------  Tabs styles  ----------*/

.content-tabs-container {
    margin: 2em 0px;
    width: 100%;
}

.tabs-wrapper {
    height: 100%;;
    width: 100%;
}

.tabs-head .tabs {
    margin: 0;
    display: flex;
    justify-content: center; 
}

.tabs-head .tabs li{
    padding: 15px 10px;
    margin-right: 4px;
    cursor: pointer;
    transition: all .6s 0s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.tabs-head .tabs li:hover {
    color: #2fa4e9;
}

.tabs-head .tabs li.active {
    background: #fff;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
    -webkit-box-shadow: 0px -2px 5px rgba(0,0,0,.2);
    -moz-box-shadow: 0px -2px 5px rgba(0,0,0,.2);
    box-shadow: 0px -2px 5px rgba(0,0,0,.2);
}


.tabs-content {
    background: #fff;
    width: 100%;
    padding: 15px 0;
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.2);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.2);
    box-shadow: 0px 0px 5px rgba(0,0,0,.2);
}

.tab-item-content {
    transition: all .6s 0s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    display: none;
}

.tab-item-content .container{
    max-width: 100%
}

.tab-item-content.active {
    transition: all .6s 0s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    display: block;
}

.col-tab {
    padding: 0;
}

.col-tab .container {
    padding: 0;
}

.col-tab .container .img-container {
    width: 100px;
    height: 50px;
    object-fit: cover;
    position: relative;
}

.col-text {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0,0,0,.2);
}
.items-tab {
    display: flex;
}
.text-tab {
    margin: 0;
    margin: auto;
    font-size: 1.5em;
}

.col-tab .container .img-container img{
    height: 50px;
    width: auto;
}





/*=====  End of Opcion 2 styles  ======*/


/*=============================================
=            Opcion 3 styles            =
=============================================*/

.content-opcion-3 {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.message-required {
    display: none;
    color: #dd3333;
}

.col-themes {
    padding: 0;
}

.col-themes .col-themes-inner {
    padding: 10px;
}

.col-themes .col-themes-inner h3 {
    font-size: 1.5em;
}

.theme-list-container {
    border: 1px solid #a5a5a5;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 0;
    height: calc(40vh);
    overflow-y: auto;
}


.theme-list-container .theme_list li{
    padding: 10px 15px;
    cursor: pointer;
    transition: all .5s 0s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.theme-list-container .theme_list li:hover, .theme-list-container .theme_list li.active  {
    background: #d6d6d67e;

}


.col-themes .col-themes-inner .row{
    margin: 0;
}

.col-themes .col-themes-inner .row .btn {
    width: auto;
    margin: 0;
    margin-top: 10px;
    margin-right: 10px;
    background: #dcdddd;
    color: #8b8b8b;
}


.col-themes-inner h3{
    color: #7f7f7f;
    padding: 15px 0;
}


.tabs-content-form {
    -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,.2);
    -moz-box-shadow: 0px 3px 5px rgba(0,0,0,.2);
    box-shadow: 0px 3px 5px rgba(0,0,0,.2);
}
.tab-form-content {
    transition: all .6s 0s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    display: none;
}

.tab-form-content.active {
    transition: all .6s 0s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    display: block;
}

.col-tab-form {
    padding: 0;
    margin: 15px 0;
}

.left-elements {
    flex-flow: row wrap;
    padding: 10px 0;
    align-items: center;
}

.separated {
    margin: 15px 0;
}

.col-tab-form {
    padding: 0;
}

.col-tab-form-inner {
    padding: 0;
}

.form-tabs, .form-tab-element {
    transition: all .6s 0s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    margin: 0;
    
}

.tab-form ul {
    width: 100%;
}
.tab-form .tabs li {
    font-size: 12px;
    text-align: center;
    padding: 10px 5px;
    margin-right: 1px;
}

.col-tab-form input{
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    padding: 10px 5px;
    margin: 5px 0;
    border: 1px solid #d6d6d6;
}

.form-tab-element .row{
    margin: 0;
}

.form-tab-element {
    border-bottom: 1px solid #a5a5a5;
}

.form-tab-element:nth-last-child(1) {
    border: none;
}

.optional {
    color: #8dabe0;
}

.row-btns {
    margin: 0;
    height: 100%;
}

.row-btns .btn-tab-form{
    justify-content: center;
    align-items: center;
    align-content: center;
    background: #dcdddd;
    color: #8b8b8b;
    width: 150px;
}

.row-btns {
    justify-content: center;
    padding: 15px 0;
    width: 100%;
}

.row-btns .btn-tab-form:hover, .col-themes .col-themes-inner .row .btn:hover {
    background: #1a8ec3;
    color: #fff;
}




/*----------  Responsive  ----------*/



@media (min-width: 991px) {
    .content-opcion-3 {
        justify-content: space-around;
    }
    .col-tab-form {
        /* max-width: 75%;
        flex: 0 0 75%; */
        padding: 10px;
        /* margin-left: 2%; */
        border: 1px solid #d6d6d6;
    }

    .form-p {
        display: flex;
        justify-content: center;
        text-align: right;
    }

    .parraph-width {
        width: 60%;
    }

    .tab-form .tabs li {
        font-size: 14px;
        margin-right: 4px;
        padding: 15px 25px;
    }

    .theme-list-container {
        height: calc(70vh);
    }

    .title-option {
        margin: 15px 0;
    }
    
    .title-option h2 {
        font-size: 1.8em;
    }
}

/*=====  End of Opcion 3 styles  ======*/






/*----------  ONLY FOR TEXT AND EXAMPLES  ----------*/

.example-element {
    width: 100%;
    padding: 60px;
}

.example-element-2 {
    width: 100%;
    padding: 100px;
}








